/* --------
   RESET
   -------- */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

/* ----------
    COMMON 
    --------- */
   body {
    font-family: 'Roboto', sans-serif;
   }

   .link-header, a, i {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
   }

   .col {
      width: 350px;
      height: auto;
      background-color: aqua;
      display: flex;
      border: 1px solid black;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 60px;
      margin-bottom: 60px;
   }

   .container-image {
      max-width: 1200px;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
   }

   .container {
    margin: auto;
    height: 70px;
    max-width: 1200px;
    background-color: #ff6900;
    display: flex;
    justify-content: space-between;
    align-items: center;    
   }

   .container-footer {
      margin: auto;
      height: 100px;
      max-width: 1200px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;   
   }

   .informativa-privacy {
      font-size: 10px;
   }
   .logo, img {
    width: 130px;
    height: auto;
   }

   h5 {
      color: white;
   }

