/* --------
   RESET
   -------- */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

/* ----------
    COMMON 
    --------- */
   body {
    font-family: 'Roboto', sans-serif;
   }

   .info-shop {
      display: inline-block;
   }

   .link-header, a, i {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
   }

   .col {
      width: calc(100% / 3 - 30px);
      height: auto;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 60px;
      margin-bottom: 60px;
   }

   .col img {
      display: block;
   }

   .container-image {
      max-width: 1200px;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
   }

   .container {
    margin: auto;
    height: 70px;
    max-width: 1200px;
    background-color: #ff6900;
    display: flex;
    justify-content: space-between;
    align-items: center;    
   }

   .container-footer {
      margin: auto;
      height: 100px;
      max-width: 1200px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;   
   }

   .informativa-privacy {
      font-size: 10px;
   }
   .logo{
    width: 130px;
    height: auto;
    margin-right: 130px
   }

   img {
      width: 100%;
      height: auto;
   }

   h5 {
      color: white;
   }

   .sale {
      color: red;
   }

   .discount {
      text-decoration: line-through;
   }

   .red {
      background-color: red;
      color: white;
      margin-right: 10px;
   }

   .green {
      background-color: green;
      color: white;
      margin-right: 10px;
   }

   .heart {
      background-color: white;
   }

   .into-image {
      position: absolute;
      display: flex;
   }